<br/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, placeholder: "Enter email address", class: "form-control", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, placeholder: "Enter password", class: "form-control",  autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form-control", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.telephone_field :number, placeholder: "Enter mobile number", class: "form-control" %>

    <em><small>We occasionally send out last minute trip availability via SMS, you can opt out on your profile.
      By clicking continue you agree to the clubs
      <button type="button" class="text-link" data-toggle="modal" data-target="#termsConditions">
        terms of service
      </button>
      and agree to be bound by the
      <button type="button" class="text-link" data-toggle="modal" data-target="#termsConditions">
        club constitution
      </button>
      .</small></em>
  </div>

  <div class="actions center-block">
    <%= f.submit "Continue" %>
  </div>
<% end %>
