<%= render "change_plan_modal" %>

<%= render "selected_plan" if @plan %>

<% if !current_user %>
  <div class="container login_container">
    <div class="container login_title_container">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div class="vc_row wpb_row vc_inner vc_row-fluid less-wide-please">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element">
                      <div class="wpb_wrapper">
                        <h2 class="grey_font title">Join London Sailing Club</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <br/>

    <div class="container">
      <div class="row row-eq-height">
        <div class="col-md-6">
          <div class="center-block">
            <%= link_to "Login via Meetup", user_meetup_omniauth_authorize_path, class: "btn meetup_button" %>
          </div>
        </div>
        <div class="col-md-6 border-left">
          <ul class="nav nav-tabs tabs-login" role="tablist">
            <li role="presentation" class="active"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register with email</a></li>
            <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Already a member?</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="register">
              <%= render "devise/registrations/new.html.erb" %>
            </div>
            <div role="tabpanel" class="tab-pane" id="login">
              <%= render "devise/sessions/new.html.erb" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="panel panel default">
      <h2>Select a plan</h2>
      <%= link_to content_tag(:span, "Patron member"), :action => "change_plan", :plan => "patron" %></br>
      <%= link_to content_tag(:span, "Standard member"), :action => "change_plan", :plan => "standard" %></br>
      <%= form_tag stripe_charges_path do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="One year membership"
          data-amount="2600"
          data-locale="auto"
          data-email="<%= current_user.email if current_user.present? %>"
          data-currency="GBP"></script>
        <button class="button-stripe" type="submit">
          One year membership
        </button>
      <% end %>
    </div>
  </div>
<% end %>
