<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,300italic,400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" id="shapely-fonts-css" href="https://fonts.googleapis.com/css?family=Raleway%3A100%2C300%2C400%2C500%2C600%2C700%7COpen+Sans%3A400%2C500%2C600&amp;ver=4.7.3" type="text/css" media="all">
  <title>LondonSailing</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php page page-id-5 logged-in admin-bar has-sidebar-right wpb-js-composer js-comp-ver-5.1 vc_responsive customize-support">

  <div id="page" class="site">

    <header id="masthead" class="site-header" role="banner">
      <div class="nav-container">
        <nav id="site-navigation" class="main-navigation" role="navigation">
          <div class="container nav-bar">
            <div class="row">
              <div class="module left site-title-container">
                <a href="/">
                  <span class="site-title">London Sailing Club</span>
                </a>
              </div>
              <div class="module-group right">
                <div class="module">
                  <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul id="menu" class="menu">
                      <% if current_user %>
                        <li class="nav-list-item <%= 'active' if current_page?(events_path) %>">
                          <%= link_to "Trips & Socials", events_path %>
                        </li>
                        <li class="nav-list-item <%= 'active' if current_page?(user_path(current_user)) %>">
                          <%= link_to "Profile", user_path(current_user) %>
                        </li>
                        <li class="nav-list-item">
                          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>

      <%= render "layouts/terms_conditions" %>
      <%= render "layouts/privacy_policy" %>
    </div>
  </div>

</body>
<footer>
  <div class="container">
    <p>Copyright © London Sailing Club 2016. All Rights Reserved.
    I accept the
    <button type="button" class="email_confirm" data-toggle="modal" data-target="#termsConditions">
      Terms of Service
    </button>
    and
    <button type="button" class="email_confirm" data-toggle="modal" data-target="#privacyPolicy">
      Privacy Policy
    </button>
    </p>
  </div>
</footer>
</html>
